<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partial/head-tags.ejs') %>
    </head>
    <body>
        <h1>Home page</h1>

        <br />

        <a href="/add">Add note</a>

        <hr />

        <a href="/notes">All notes</a>
    </body>
</html>
